# sonarqube-public-repo.yml
#
# from internal GA page - https://progresssoftware.atlassian.net/wiki/spaces/TCE/pages/641925121/SonarQube+-+Github+Actions
# gets Akeyless secret to permit firewall traffic from GA to SonarQube
name: SonarQube scan for public repositories
# configuration @ https://github.com/marketplace/actions/official-sonarqube-scan

on:
  workflow_call:
    # all secrets are inherited from the calling workflow, typically SONAR_TOKEN, SONAR_HOST_URL, AKEYLESS_JWT_ID
    inputs:
      perform-build: 
        required: false
        type: boolean
      build-profile:  # TODO: implmenet this flag - chef360 container build flags, etc
        required: false
        type: string
      language: 
        required: false
        type: string
      report-unit-test-coverage: 
        required: false
        type: boolean
      report-to-atlassian-dashboard: 
        required: false
        type: boolean
      quality-product-name:
        required: false
        type: string
      quality-sonar-app-name:
        required: false
        type: string
      quality-testing-type:
        required: false
        type: string
      quality-service-name:
        required: false
        type: string
      quality-junit-report:
        required: false
        type: string
      visibility: # TODO: simplify the sonar step by bringing in the other variants (private, public, internal) from the calling workflow
        required: false
        type: string
      go-private-modules:
        required: false
        type: string
      udf1:
        required: false
        type: string
      udf2:
        required: false
        type: string
      udf3:
        required: false
        type: string

jobs:
  SonarQube:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write
      contents: read
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    # from Confluence, with @latest version of the action
    # - name: Prepare Secrets and Login into Azure
    #   id: get-aad-secret
    #   uses: 'prgs-community/githubactions-reusableworkflow-sonarqube/.github/actions/azure-login@latest'
    #   with:
    #     akeyless-access-id: '${{ secrets.AKEYLESS_JWT_ID }}'

    - name: Prepare Secrets and Login into Azure
      id: get-aad-secret
      uses: 'chef/common-github-actions/.github/actions/azure-login@main'
      continue-on-error: true
      with:
        akeyless-access-id: '${{ secrets.AKEYLESS_JWT_ID }}'
      
    - name: Add runner IP to Firewall List
      uses: chef/common-github-actions/.github/actions/update-firewall-rule@main
      continue-on-error: true
      with:
        action-to-execute: add

    - name: Wait 30 sec
      shell: bash
      run: |
        sleep 30
      
    - name: SonarQube Scan
      if: ${{ inputs.visibility == 'public' }}
      uses: sonarsource/sonarqube-scan-action@v5.3.1
      # was uses: sonarsource/sonarqube-scan-action@v5.1.0
      continue-on-error: true
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        
    - name: Remove Storage Firewall Rule
      if: always()
      uses: chef/common-github-actions/.github/actions/update-firewall-rule@main
      with:
          action-to-execute: remove

    - name: logout
      if: always()
      shell: bash
      run: |
          az logout
