# trufflehog.yml
# from https://github.com/trufflesecurity/trufflehog & https://github.com/trufflesecurity/trufflehog/pkgs/container/trufflehog
name: Trufflehog secret scan

on:
  workflow_call:
    inputs:
      fail-trufflehog-on-secrets-found:
        description: 'Fail the pipeline if Trufflehog finds verified secrets'
        required: false
        type: boolean
        default: true

jobs:
  Trufflehog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Construct Trufflehog arguments
        id: trufflehog-args
        run: |
          EXTRA_ARGS="--only-verified"
          
          echo "EXTRA_ARGS=${EXTRA_ARGS}" >> $GITHUB_ENV
          echo "Trufflehog enforcement: fail-on-secrets=${{ inputs.fail-trufflehog-on-secrets-found }}"

      - name: TruffleHog secret scan
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          extra_args: ${{ env.EXTRA_ARGS }}
        continue-on-error: false
        # --only-verified --fail --github-actions --results=verified,unknown --branch dev
        # TODO: use the GH_TOKEN --org=progress --token=ghp_xxxxx

    # TODO: if this is run on ad hoc workflow, we will scan all branches (need to pass in selected branch)

    # TODO: store the output somewhere
    # may have to run it as command line:
      #    trufflehog --json <target_directory> > results/trufflehog_output.json

    # or try to capture the output
  #   - name: Write output to file
  # run: echo "${{ steps.<previous_step_id>.outputs.<output_name> }}" > output.txt

    # - name: Upload test coverage artifact
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: trufflehog-output.json
    #     path: results/trufflehog_output.json
